In [11]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import os

from sklearn.metrics import classification_report

from xgboost import XGBClassifier

from sklearn.model_selection import train_test_split

os.chdir('C:/titanic')

matplotlib.style.use('ggplot')

%matplotlib inline

In [12]:
df = pd.read_csv('train1.csv', sep=',', header=0)
df = df.fillna(df.mean())
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    0  22.0      1      0   7.2500
1            2         1       1    1  38.0      1      0  71.2833
2            3         1       3    1  26.0      0      0   7.9250
3            4         1       1    1  35.0      1      0  53.1000
4            5         0       3    0  35.0      0      0   8.0500

In [13]:
DF = pd.read_csv('test1.csv', sep=',', header=0)
DF = DF.fillna(DF.mean())
DF.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0          892       3    0  34.5      0      0   7.8292
1          893       3    1  47.0      1      0   7.0000
2          894       2    0  62.0      0      0   9.6875
3          895       3    0  27.0      0      0   8.6625
4          896       3    1  22.0      1      1  12.2875

In [14]:
y_train = df['Survived']
X_train = pd.get_dummies(df).drop('Survived', axis=1)

In [15]:
X_test = pd.get_dummies(DF)

In [16]:
model = XGBClassifier(seed=42,
                      n_estimators=100,
                      max_depth=5,
                      learning_rate=0.2)

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred_train = model.predict(X_train)
print (classification_report(y_train, y_pred_train))

In [ ]:
#y_pred = model.predict(X_test)
#print (classification_report(y_test, y_pred))